body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carouselControls{
    margin: 1%;
}

.carousel-inner > .carousel-item > img {
    object-fit: scale-down;
    height: 50vh;
    width: 100%;
}

.carousel-control-prev{
    padding-left: 10%;
}

.carousel-control-next{
    padding-right: 10%;
}