.main-header {
    position: relative;
}

.background-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.rounded{
    background-color: #FBF293;
}

footer {
    background: grey;
}

.main-header-gracias{
    position: relative;
    background: url(../images/gracias.jpeg);
    background-size: cover;
    background-position: center center;
    min-height: 900px;
}

.background-over {
    background: rgba(48, 51, 107,.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contacto_enviar{
    background-color: #ffc107;
    color: black;
    border-color: #ffc107;
    height:40px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}

input.error, select.error{
    border-color: red;
}