{% extends 'base.html.twig' %}

{% block title %}¡Landing Page!{% endblock %}

{% block header %}
    <header class="main-header">
        <div class="background-overlay pt-5 pb-2 bg-dark">
            <div class="container">
                <div class="row d-flex h-100 px-1">
                    <div class="col-12">
                        <img src="images/mokka.jpg" class="img-fluid d-none d-sm-block">
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block form %}
<section class="bg-dark pb-5">
    <div class="container">
        <div class="row bg-light mx-1">
            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-10 border border-5 rounded m-5 p-5">
                        <h3>Contacto</h3>
                        <p>Rellene este formulario para informarse de nuestras mejores ofertas:</p>
                        <div class="col-10 mx-auto">
                            {{ form(form) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block footer %}
  <footer>
    <div class="container p-3">
      <div class="row text-center text-white">
        <div class="col ml-auto">
          <p>Copyright &copy; 2022</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}


